<h2 id="title">Welcome to Ember</h2>

<button onclick={{action "changeView" "month"}}>Month</button>
<button onclick={{action "changeView" "agendaWeek"}}>Week</button>
<button onclick={{action "changeView" "agendaDay"}}>Day</button>

<ul>
{{#each eventsArray as |event|}}
  <li>{{event.title}} <button onclick={{action "removeEvent" event}}>x</button></li>
{{/each}}
</ul>

{{input value=eventTitle}} <button onclick={{action "addEvent" event}}>Add</button>

{{full-calendar viewName=viewName events=eventsArray}}
